<% include partials/header %>
<main>
  <main>
    <section class="flex flex-start">
      <form class="form1" action="">
        <input class="date" type="date" />
        <input class="date" type="date" />
      </form>
      <div class="list-filter">
        <span> Income </span>
        <span> Expense </span>
        <span> Current Month </span>
      </div>
      <div>
        <button class="btn-primary">
          <a href="Expense/new">
            <i class="fas fa-plus-square"></i> Add Expenses
          </a>
        </button>
        <button class="btn-primary">
          <a href="income/Income">
            <i class="fas fa-plus-square"></i> Add Income
          </a>
        </button>
      </div>
    </section>
    <section>
      <div>
        <% budgetdata.forEach(elm => { %>
        <h1><%= elm.amount %></h1>
        <% }); %>
      </div>
    </section>
  </main>
</main>
