<% include partials/header %>
<main>
  <section class="flex flex-start">
    <form class="form1" action="">
      <input class="date" type="date" />
      <input class="date" type="date" />
    </form>
    <div class="list-filter">
      <span> Income </span>
      <span> Expense </span>
      <span> Current Month </span>
    </div>
  </section>
</main>
