<% include partials/header %>
<main>
  <section>
    <button>
      <a href="/dashboard"> Go to dashboard </a>
    </button>
  </section>
  <section class="wrapper">
    <div class="typing-demo">
      <h2>EXPENSE TRACKER..</h2>
    </div>
  </section>
</main>
